<%
@page_title = "物件募集";
@category_title = "";
@category_sub_title = "";
%>




<%=render 'contents/template/corporate/header_sub' %>
 <section class='content'>
        <%= raw@entry.content%>
      </section>

    </section>
<%=render 'contents/template/corporate/footer_sub' %>