   <footer>
      <div class='box_wrap clearfix'>
        <div class='box'>
          <dl>
            <dt>サイトマップテキスト</dt><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd></dl>
        </div>
        <!-- //box -->
        <div class='box'>
          <dl>
            <dt>サイトマップテキスト</dt><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd></dl>
        </div>
        <!-- //box -->
        <div class='box'>
          <dl>
            <dt>サイトマップテキスト</dt><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd></dl>
        </div>
        <!-- //box -->
      </div>
      <!-- //box_wrap -->
      <div class='copyright'>&copy; 2014 Maruchiyo YAMAOKAYA Corp.</div>
    </footer>
  </body>
</html>