<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>

<title>ラーメン山岡家　山岡家のラーメンは濃厚スープに極太麺。年中無休24時間営業中！</title>
<meta content="キーワード1,キーワード2,キーワード3" name="Keywords">
<meta content="ページのdescription" name="description">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<link href="./css2/normalize.css" rel="stylesheet">

	<!-- Bootstrap用css START -->
    <%= stylesheet_link_tag "application", :media => "all" %>
	<!-- Bootstrap用css END -->

<link href="./css2/docs.min.css" rel="stylesheet">
<link href="./css2/layout.css" rel="stylesheet">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../assets/js/bootstrap/affix-body=1.js"></script>
<script src="../assets/js/bootstrap/alert-body=1.js"></script>
<script src="../assets/js/bootstrap/button-body=1.js"></script>
<script src="../assets/js/bootstrap/carousel-body=1.js"></script>
<script src="../assets/js/bootstrap/collapse-body=1.js"></script>
<script src="../assets/js/bootstrap/dropdown-body=1.js"></script>
<script src="../assets/js/bootstrap/tab-body=1.js"></script>
<script src="../assets/js/bootstrap/transition-body=1.js"></script>
<script src="../assets/js/bootstrap/scrollspy-body=1.js"></script>
<script src="../assets/js/bootstrap/modal-body=1.js"></script>
<script src="../assets/js/bootstrap/tooltip-body=1.js"></script>
<script src="../assets/js/bootstrap/popover-body=1.js"></script>
<script src="../assets/js/bootstrap-body=1.js"></script>
<script src="../assets/js/application-body=1.js"></script>

<script src='../assets/js/menu.js'></script>
<script src='../assets/js/jquery.smoothScroll.js'></script>
<!-- %script{src:"js/top_bg.js"} -->
<script src='../assets/js/jquery.cycle.all.js'></script>
<script src='../assets/js/jquery.maximage.js'></script>
<script>$(function(){ jQuery('#maximage').maximage();});</script>
<script src='../assets/js/tab.js'></script>

<link href='./css2/jquery.maximage.css' rel='stylesheet'>
<link href='./css2/screen.css' rel='stylesheet'>

<!--[if lt IE 9]>
	<script src='../assets/js/html5.js'></script>
	<link href='./css2/ie8.css' media='all' rel='stylesheet' type='text/css'>
<![endif]-->
</head>



<body class='top'>
<div id='fb-root'></div><script>(function() { (function(d, s, id) { var fjs, js; fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1"; return fjs.parentNode.insertBefore(js, fjs);})(document, 'script', 'facebook-jssdk');}).call(this);</script>



<div id='maximage'>
	<img src="images/top/bg_gyoza.jpg" width="100%" height="auto" alt="餃子" />
	<img src="images/top/bg_gaikan.jpg" width="100%" height="auto" alt="外観" />
	<img src="images/mainimage.jpg" width="100%" height="auto" alt="山岡家原点の味" />
</div>



<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
	<div class="container">
		<div class=" col-md-6">
			<div class="navbar-header">
				<h1>山岡家のラーメンは濃厚スープに極太麺。年中無休24時間営業中！</h1>
				<a href='index.html' title='山岡家ホーム'><img alt='山岡家' height='43' src='images/logo.png' width='254'></a>
			</div>
		</div>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
		<div class="col-md-6">
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav navbar-right">
					<li class="visible-sm"><a class='list_none' href='https://www.twitter.com/yamaokaya_pr' title='twitter' target="_blank"><img alt='twitter' height='20' src='images/icon_twitter.png' width='20'></a></li>
					<li class="visible-sm"><a class='list_none' href='https://www.facebook.com/yamaokaya' title='facebook' target="_blank"><img alt='facebook' height='20' src='images/icon_facebook.png' width='20'></a></li>
					<li class="visible-sm"><a href='contents/etc/213/index.html' title='メルマガクーポン'>メルマガクーポン</a></li>
					<li class="visible-sm"><a href='contents/etc/207/index.html' title='SNSガイドライン'>SNSガイドライン</a></li>
					<li class="visible-sm"><a href='contents/etc/211/index.html' title='サイトマップ'>サイトマップ</a></li>
					<br class="visible-sm">
					<li><a href='contents/etc/212/index.html' title='このHPについて'>このHPについて</a></li>
					<li><a href='http://yamaokaya.itn21.net/feedbacks.html' title='ご意見・ご感想'>ご意見・ご感想</a></li>
					<li><a href='shops/index.html' title='店舗'>店舗</a></li>
					<li><a href='menus/index.html' title='メニュー'>メニュー</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

	<div class="snsbox">
		<ul>
			<li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
			<li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fyamaokaya2.itn21.net%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" width="130px" allowTransparency="true"></iframe></li>
		</ul>


	</div><!--snsbox-->


<section class='topnav'>
	<ul><li><a class='smoothScroll' href='index.html#menu_in_top'>メニュー</a></li><li><a class='smoothScroll' href='index.html#shop_in_top'>店舗検索</a></li></ul>
	<div class='tabcontainer type-pc'>
		<ul class='tabs'><li><a class='selected' href='index.html#tab1'>新着情報</a></li><li><a href='index.html#tab2'><img alt='Twitter' height='20' src='images/top/icon_twitter_in_tab.png' width='20'></a></li><li><a href='index.html#tab3'><img alt='Facebook' height='20' src='images/top/icon_facebook_in_tab.png' width='20'></a></li></ul>
		<ul class='panel'>
			<li id='tab1'>
				<table>
					<tr><th>2014/02/12</th><td><a href='http://assets.yamaokaya.com/release/nakaogino-close.pdf'>中荻野店 閉店のお知らせ</a></td></tr>
					<tr><th>2014/01/27</th><td><a href='contents/menus/238.html'>山岡家 カップラーメン第２弾!</a></td></tr>
					<tr><th>2014/01/09</th><td><a href='contents/menus/236.html'>1/10～プレミアム塩とんこつ。今回は炙り！</a></td></tr>
					<tr><th>2013/12/24</th><td><a href='http://assets.yamaokaya.com/release/release_20131224.pdf'>山岡家は年末年始も営業しております！</a></td></tr>
				</table>
				<a class='toList' href='news/index.html'>&raquo; 一覧を見る</a>
			</li>
			<li id='tab2'><a class='twitter-timeline' data-widget-id='365009217540730880' href='https://twitter.com/yamaokaya_pr'>@yamaokaya_pr からのツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
			<li id='tab3'><div class="fb-like-box" data-href="https://www.facebook.com/yamaokaya" data-width="300px" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="true" style="background-color:#fff"></div></li>
		</ul>
	</div>
</section>



<section class='menu col-xx-12' id='menu_in_top'>
	<div class='title'>
		<div class="container">
			<a href='menus/index.html'>
				<div class="col-xs-6">
					<p><span><i>M</i>ENU</span>メニュー</p>
				</div>
				<div class="col-xs-6">
					<p class='text-right'>すべてのメニューを見る</p>
				</div>
			</a>
		</div>
	</div>
	<div class="container">
		<div class='jumbotron'>
			<h2>いくつものこだわりが隠された山岡家のラーメン</h2>
			<p>数日間豚骨を煮込んだ濃厚なスープとスープにからみつく極太ストレート麺、<br />特製のタレで煮炊いた本格チャーシュー、白髪ネギ山盛りのネギラーメ ン・・・<br />無性に食べたくなる定番的存在の「山岡家ラーメン」はこちらから！</p>
			<div class="col-md-offset-5">
				<a class="btn btn-primary btn-lg" role="button" href='menus/index.html'>メニュー一覧を見る</a>
			</div>
		</div>
	</div>
</section>



<section class='shop col-xx-12' id='shop_in_top'>
	<div class='title'>
		<div class="container">
			<a href='shops/index.html'>
				<div class="col-xs-6">
					<p><span><i>L</i>OCATION</span>店舗</p>
				</div>
				<div class="col-xs-6">
					<p class='text-right'>店舗情報を見る</p>
				</div>
			</a>
		</div>
	</div>
	<div class="container">
		<div class='jumbotron'>
			<h2>山岡家は、すべてのお客様が食べたい時に、<br />いつでも食べられるラーメン店を目指します</h2>
			<p>手作りのおいしいラーメンづくり」と「心のこもったサービス」を<br />一人でも多くのお客様にお届けしたい・・・<br />全国各地に広がる、「山岡家」店舗の検索はこちらから！</p>
			<div class="col-md-offset-5">
				<a class="btn btn-primary btn-lg" role="button" href='shops/index.html'>店舗情報を見る</a>
			</div>
		</div>
	</div>
</section>



<section class='topnav2 type-sp'>
	<div class='tabcontainer'>
		<ul class='tabs'><li><a href='index.html#tab21'>新着情報</a></li><li><a href='index.html#tab22'><img alt='Twitter' height='20' src='images/top/icon_twitter_in_tab.png' width='20'></a></li><li><a href='index.html#tab23'><img alt='Facebook' height='20' src='images/top/icon_facebook_in_tab.png' width='20'></a></li></ul>
		<ul class='panel'>
			<li id='tab21' style="display:block;">
				<table>
					<tr><th>2014/02/12</th><td><a href='http://assets.yamaokaya.com/release/nakaogino-close.pdf'>中荻野店 閉店のお知らせ</a></td></tr>
					<tr><th>2014/01/27</th><td><a href='contents/menus/238.html'>山岡家 カップラーメン第２弾!</a></td></tr>
					<tr><th>2014/01/09</th><td><a href='contents/menus/236.html'>1/10～プレミアム塩とんこつ。今回は炙り！</a></td></tr>
					<tr><th>2013/12/24</th><td><a href='http://assets.yamaokaya.com/release/release_20131224.pdf'>山岡家は年末年始も営業しております！</a></td></tr>
				</table>
				<a class='toList' href='index.html#'>&raquo; 一覧を見る</a>
			</li>
			<li id='tab22'>	<script type="text/javascript">if(typeof jQuery=='undefined'){document.write(unescape('%3Cscript src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"%3E%3C/script%3E'));}</script>

				<div class="twWTL wtlo-">

				<a class='twitter-timeline' data-widget-id='365009217540730880' href='https://twitter.com/yamaokaya_pr'>@yamaokaya_pr からのツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				<!--/* CSS */
				
				.twitter-timeline{background: #000 !important;}
				.expand{display: inline-block !important; padding: 1px 3px !important;}
				.expand:hover,.expand:hover *{text-decoration: none !important;}
				.footer{font-size: 90%; min-height: 20px !important;}
				.tweet-actions{box-shadow: none !important;}
				.tweet-actions a i{margin: 1px 5px 0 5px !important;}
				.is-touch .tweet-actions a {padding-left: 0 !important;}
				.tweet-actions,.expand{background: #333 !important; border: 1px solid #444 !important; border-radius: 3px;}
				.stats-wide %3E b{display: none;}
				a:link, a:visited,.stats span,.byline,.retweet-credit,.no-more-pane,.no-tweets-pane p,.p-geo,.cards-base .byline-user{color: #ddd !important;}
				a:hover, a:active,.p-author a.profile:hover,.p-author a.profile:focus,.retweet-credit .profile:hover,.retweet-credit .profile:focus,.stats strong,.no-tweets-pane .load-tweets,.nsfw{color: #ff0 !important;}
				.customisable,.customisable:link,.customisable:visited,.customisable:hover,.customisable:active,.customisable-highlight:hover, a:hover .customisable-highlight, a:focus .customisable-highlight{color: #999 !important;}
				.timeline,.p-author .profile .p-name,.cards-base p,.cards-base p a,.timeline-header .summary,.timeline-header .summary a:link,.timeline-header .summary a:visited,.p-author a.profile:hover .p-name,.p-author a.profile:focus .p-name{color: #fff !important;}

				.customisable-border{border-color: #444 !important;}
				.inline-media img{height: auto;}
				.timeline-footer,.h-feed{min-height:1px;}
				a:hover .ic-mask, a:focus .ic-mask{background-color: #ff0 !important;}@media screen and (-webkit-min-device-pixel-ratio:0) {.tweet-actions a:hover .ic-mask, a:focus .ic-mask{background-color: transparent !important;}}
				a.follow-button{color:black!important;background:#666;}
				/*IE8
				.timeline-footer{background: #444 !important;}button.load-more{background: #444 !important; border-bottom: 2px #000 solid !important;}
				*/
				--></div>
				<script type="text/javascript">
				var twWL={len:[],stop:function(){twWL.len=[];},main:function(){var i,s,cs,qS,qL=twWL.len;for(i=0;i<qL.length;i++){var qI=qL[i],qC=$(qI).find('iframe:first').contents();if(qC.length){var qH=qC.find('head:first'),qM=qI.className.match(/wtl(.)-/),qD;if(qC.find('.stream:first').length){qS=$('#wtlcss')[0];cs=qS?qS.lastChild.nodeValue:'';qD=qI.lastChild;if(qD.nodeType==8)cs+=qD.nodeValue;cs=cs.replace(/%3[CE]/g,function(a){return unescape(a);});if(!jQuery.support.opacity)cs=cs.replace(/\/\*IE8([\s\S]*?)\*\//g,'$1');s=document.createElement('style');s.type='text/css';if(window.addEventListener){$(s).html(cs);}else{s.styleSheet.cssText=cs;}
				qH[0].appendChild(s);if(qM){if(qM[1]=='x'){qC.find('.thm-dark:first').removeClass('thm-dark')}else{qC.find('.timeline:first').addClass('thm-dark');}}
				qD=qI.title;if(qD){var h1=qC.find('h1.summary:first'),qA=h1.find('a');cs=qA.length?qA:h1;cs.text(qD);qI.removeAttribute('title');}
				qL.splice(i,1);}}}
				if(qL.length)setTimeout(twWL.main,300);}};
				$(document).ready(function(){twWL.len=$('div.twWTL');twWL.main();$(window).load(function(){setTimeout(twWL.stop,4000);});});
				</script>
							
				
				
				
				</li>
			
			<li id='tab23'><div class="fb-like-box" data-href="https://www.facebook.com/yamaokaya" data-width="300px" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="true" style="background-color:#fff"></div></li>
		</ul>
	</div>
</section>



<footer>
	<div class="container">
		<div class="col-md-3">
			<ul class="list-unstyled">
				<li><a href='index.html' title='このHPについて'>トップページ</a></li>
				<li><a href='news.html' title='このHPについて'>新着情報一覧</a></li>
				<li><a href='shops.html' title='このHPについて'>店舗</a></li>
				<li><a href='menus/index.html' title='このHPについて'>メニュー</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul class="list-unstyled">
				<li><a href='contents/etc/212/index.html' title='このHPについて'>このHPについて</a></li>
				<li><a href='contents/etc/207/index.html' title='このHPについて'>SNSガイドライン</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul class="list-unstyled">
				<li><a href='http://yamaokaya.itn21.net/feedbacks.html' title='このHPについて'>ご意見・ご感想</a></li>
				<li><a href='contents/etc/213/index.html' title='このHPについて'>メルマガクーポン</a></li>
			</ul>
		</div>
	</div>
	<div class="copyright col-md-12"><p class="text-center">&copy; 2014 Maruchiyo YAMAOKAYA Corp.</p></div>
</footer>
</body>
</html>


