!!! 5
/[if lt IE 7] <html class="ie6 datauri_na" lang="ja">
/[if IE 7] <html class="ie7 datauri_na" lang="ja">
/[if IE 8] <html class="ie8 datauri_na" lang="ja">
/[if gt IE 8] <!--> <html class="modearn datauri_avlbl" lang="ja"> <!--
=render 'contents/template/brand/common/head'
%body.top{data:{spy: :scroll,target: '.navbar',offset: 80}}
	-#OK
	=render 'contents/template/brand/top/fb_pre'


	-#OK
	=render 'contents/template/brand/common/header_top'
	=render 'contents/template/brand/top/noty'
	-#OK
	=render 'contents/template/brand/top/maximage'
	-#MADA
	-#render 'contents/template/brand/common/topnav'
	-#OK
	=render 'contents/template/brand/top/shop'
	-#OK
	=render 'contents/template/brand/top/menu'


	-#MADA
	=#render 'contents/template/brand/top/topnav2'

	-#OK
	=render 'contents/template/brand/common/footer'
!= "</html>"