.panel.panel-default
	.panel-heading
		%h4
			=@category1
			%small=@category1_eng
	.panel-body
		-@category2 = 'ノーマル'
		=content_for :thumbnail
		-each_headline( "menus", 0,where: "{category0} = '#{@category0}' and {category1} = '#{@category1}'")do |entry|
			.col-md-2.col-sm-4.col-xs-6
				.thumbnail
					=link_to contents_detail_path_for(entry) do
						%img.img-thumbnail{src:entry.cf.photo1}
					.caption
						%h5=link_to entry.title, contents_detail_path_for(entry)

