<% content_for :head do %>
<title>トップ</title>
<% end # content_for :head %>

<div class="content">


<div class="block" id="block-forms">

  <div class="content">
    <h2 class="title">メニュー</h2>
    <div class="inner">
トップ
    </div>
  </div>
</div>
