
<%=render 'contents/template/brand/common/head' %>

<body class="categoryClassName Shop">
<%=render 'contents/template/brand/common/header' %>


<section>
	<header>
		<div class="title">
			<div class="container clearfix">
				<div class="col-xs-6">
					<h1><span><i>S</i>hop</span>店舗情報</h1>
				</div>
				<div class="col-xs-6">
					<p class='text-right'><a class='additional' href='shops.html#' style="display:none">カテゴリートップへ戻る</a></p>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<ol class="breadcrumb">
			<li><a href='index.html' title='トップ'>トップ</a></li>
			<li><a href="/shops/index.html">店舗情報</a></li>
		</ol>
	</div>

<div class='container'>



<div class="panel panel-default">
	<div class="panel-body">
		<h2>東北地方</h2>
	</div>
</div>
<div class="clearfix">
	<% @pblock_category = "shops";@pref_code = "2";@pref_name = "青森県" %><%=render 'contents/template/brand/loop/shop_list' %>
<% @pblock_category = "shops";@pref_code = "5";@pref_name = "秋田県" %><%=render 'contents/template/brand/loop/shop_list' %>
<% @pblock_category = "shops";@pref_code = "3";@pref_name = "岩手県" %><%=render 'contents/template/brand/loop/shop_list' %>
<% @pblock_category = "shops";@pref_code = "4";@pref_name = "宮城県" %><%=render 'contents/template/brand/loop/shop_list' %>
<% @pblock_category = "shops";@pref_code = "6";@pref_name = "山形県" %><%=render 'contents/template/brand/loop/shop_list' %>
<% @pblock_category = "shops";@pref_code = "7";@pref_name = "福島県" %><%=render 'contents/template/brand/loop/shop_list' %>  
 
</div>

</section>



<%=render 'contents/template/brand/common/footer' %>





