%section.col-xs-12#shop
	.container
		.jumbotron.col-md-12
			%h2.text-center すべてのお客様に、「本当に旨いラーメン」をご提供したい。
			%p.text-center 
				「手作りのおいしいラーメン」と、
				「心のこもったサービス」を一人でも多くのお客様に・・・
			%p.text-center
				全国各地に広がる、ラーメン山岡家。お店の検索はこちらから！
			.text-center
				%a.btn.btn-primary.btn-lg{role: :button,href:'shops/index.html'} 店舗情報を見る