	<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		<div class="container">
			<ul>
				<li class="col-xs-2 text-center"><a href='/contents/c_greetings/180'>社長ごあいさつ</a></li>
				<li class="col-xs-2 text-center hasSubMenu"><a href='#'>会社情報</a><ul class='subMenu' style="display:none"><li><a href='/contents/c_profile/182'>会社概要</a></li><li><a href='/contents/c_profile/183'>沿革</a></li></ul></li>
				<li class="col-xs-2 text-center hasSubMenu"><a href='#'>事業</a><ul class='subMenu'><li><a href='/contents/c_business/184'>事業概要</a></li><li><a href='/contents/c_business/185'>商品の強み</a></li><li><a href='/contents/c_business/186'>心地よいお店づくり</a></li><li><a href='/contents/c_business/188'>食の安心・安全</a></li><li><a href='/contents/c_business/187'>出店ポリシー</a></li></ul></li>
				<li class="col-xs-2 text-center hasSubMenu"><a href='/contents/c_ir/201'>IR</a><ul class='subMenu'><li><a href='/contents/c_ir/189'>財務ハイライト</a></li><li><a href='/contents/c_ir/190'>財務情報</a></li><li><a href='/contents/c_ir/191'>IRカレンダー</a></li><li><a href='/c_ir/library'>IRライブラリ</a></li><li><a href='/contents/c_ir/193'>株式情報（株式・株価・配当・手続き情報の集約）</a></li><li><a href='/contents/c_ir/194'>免責事項</a></li><li><a href='/contents/c_ir/195'>よくあるご質問</a></li></ul></li>
				<li class="col-xs-2 text-center hasSubMenu"><a href='/contents/c_ir/200'>人財</a><ul class='subMenu'><li><a href='/contents/c_ir/196'>パート・アルバイト</a></li><li><a href='/contents/c_ir/197'>新卒・第2新卒</a></li></ul></li>
				<li class="col-xs-2 text-center"><a href='/contents/c_property/202'>物件募集</a></li>
			</ul>
		</div>
	</nav>