.navbar.navbar-inverse#header
	.container
		.navbar-collapse.collapse
			%ul.nav.navbar-nav.navbar-right
				%li.active
					%a{href:'/contents/c_greetings/180'} 社長ごあいさつ
				%li
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						会社情報
						%b.caret
					%ul.dropdown-menu
						%li
							%a{href:'/contents/c_profile/182',title: '会社概要',tabindex: -1} 会社概要
						%li
							%a{href:'/contents/c_profile/183',title: '沿革',tabindex: -1} 沿革
				%li
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						事業
						%b.caret
					%ul.dropdown-menu
						%li
							%a{href:'/contents/c_profile/182',title: '事業概要',tabindex: -1} 事業概要
						%li
							%a{href:'/contents/c_profile/183',title: '商品の強み',tabindex: -1} 商品の強み
						%li
							%a{href:'/contents/c_profile/183',title: '心地よいお店づくり',tabindex: -1} 心地よいお店づくり
						%li
							%a{href:'/contents/c_profile/183',title: '食の安心・安全',tabindex: -1} 食の安心・安全
						%li
							%a{href:'/contents/c_profile/183',title: '出店ポリシー',tabindex: -1} 出店ポリシー
				%li
					%a.dropdown-toggle{href:'#',data:{toggle: :dropdown}}
						IR
						%b.caret
					%ul.dropdown-menu
						%li
							%a{href:'/contents/c_profile/182',title: '財務ハイライト',tabindex: -1} 財務ハイライト
						%li
							%a{href:'/contents/c_profile/183',title: '財務情報',tabindex: -1} 財務情報
						%li
							%a{href:'/contents/c_profile/183',title: 'IRカレンダー',tabindex: -1} IRカレンダー
						%li
							%a{href:'/contents/c_profile/183',title: 'IRライブラリ',tabindex: -1} IRライブラリ
						%li
							%a{href:'/contents/c_profile/183',title: '株式情報',tabindex: -1} 株式情報