!!! 5
/[if lt IE 7] <html class="ie6 datauri_na" lang="ja">
/[if IE 7] <html class="ie7 datauri_na" lang="ja">
/[if IE 8] <html class="ie8 datauri_na" lang="ja">
/[if gt IE 8] <!--> <html class="modearn datauri_avlbl" lang="ja"> <!--
=render 'contents/template/brand/common/head'
=yield
!= "</html>"